# Temporary files used by some editors
*.swp
*~

# Temporary files created during Python file loading
*.pyc
**/__pycache__/

# Project storage of some editors
/.idea
/.project
/.settings
/.vscode

# Stuff that never was meant to be public
/+junk

# Build artefacts
build/
dist/

# Documentation build artefacts
docs/build/

# Testing artefacts
.coverage
.pytest_cache/
.tox/